
<div class="container text-decoration-none p-3">
    <div class="text-center m-3">
      <h1>Pixel Clicker</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center m-3 p-3 border border-dark border-4" style="border-style: solid; border-radius: 20px;">
        <h5 class="text-justify">
          <ul>
            <li>Utilisation : <p>Investir dans des outils (crayon, stylo, plume ... etc) afin de générer automatiquement des pixels. Plusieurs coloris de pixels sont disponible.</p></li>
            <li>Outils : <p>Paper.js pour l'affichage des bulles. Un tableau rempli aléatoirement avec Jquery. Crypto.js pour crypter les données du cookie de sauvegarde.</p></li>
          </ul>
        </h5>
      </div>
    </div>
    <br>
    <div class="text-center m-3">
      <p>Pixels = </p>
      <p id="pixelCount"></p>
    </div>
    <div class="text-center m-3">
      <p>Pixels per seconds = </p>
      <p id="pixelPerSec"></p>
    </div>
    <div class="text-center container">
        <div class="row d-flex justify-content-center m-3 p-3">
          <div class="col-auto d-flex justify-content-end">
            <canvas id="space-area" class="border border-dark border-4 border-solid" width="200" height="200" style=""></canvas>
            <input id="countBubble" class="hidden" type="hidden" value=0>
          </div>
          <div class="col-auto d-flex justify-content-end">
            <table id="pixelBase" class="border border-dark border-4 border-solid"></table>
          </div>
          <div class="col-auto">
            <div class="">
              <input id="blackButton" class="btn btn-dark w-auto" type="button" color="black" value="">
            </div>
            <div class="">
              <input id="redButton" class="btn btn-danger" type="button" color="#dc3545" value="">
            </div>
            <div class="">
              <input id="greenButton" class="btn btn-success" type="button" color="#198754" value="">
            </div>
            <div class="">
              <input id="blueButton" class="btn btn-primary" type="button" color="#0d6efd" value="">
            </div>
            <div class="">
              <input id="orangeButton" class="btn" style="background-color: #FF4500;" type="button" color="#FF4500" value="">
            </div>
          </div>
        </div>
        <div class="p-3 m-3">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
          </div>
        </div>
        <div class="row-cols-1">
          <div class="d-flex justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 p-3 border border-warning border-4 border-solid">
              <div class="row d-flex flex-column justify-content-start">
                <div class="col d-flex align-items-center">
                  <p typeGen="0" class="generatorCount border border-dark border-4 border-solid rounded-circle p-1"></p>
                  <p class="mx-2 fw-bold">+0.1px</p>
                  <input typeGen="0" nombre="1" class="addGeneratorButton btn btn-primary m-3" type="button" value="Crayon">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="0" nombre="1"></p>
                  <input typeGen="0" nombre="10" class="addGeneratorButton btn btn-primary m-3" type="button" value="X 10">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="0" nombre="10"></p>
                </div>
                <div class="col d-flex align-items-center">
                  <p typeGen="1" class="generatorCount border border-dark border-4 border-solid rounded-circle p-1"></p>
                  <p class="mx-2 fw-bold">+1px</p>
                  <input typeGen="1" nombre="1" class="addGeneratorButton btn btn-primary m-3" type="button" value="Stylo">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="1" nombre="1"></p>
                  <input typeGen="1" nombre="10" class="addGeneratorButton btn btn-primary m-3" type="button" value="X 10">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="1" nombre="10"></p>
                </div>
                <div class="col d-flex align-items-center">
                  <p typeGen="2" class="generatorCount border border-dark border-4 border-solid rounded-circle p-1"></p>
                  <p class="mx-2 fw-bold">+8px</p>
                  <input typeGen="2" nombre="1" class="addGeneratorButton btn btn-primary m-3" type="button" value="Plume">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="2" nombre="1"></p>
                  <input typeGen="2" nombre="10" class="addGeneratorButton btn btn-primary m-3" type="button" value="X 10">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="2" nombre="10"></p>
                </div>
                <div class="col d-flex align-items-center">
                  <p typeGen="3" class="generatorCount border border-dark border-4 border-solid rounded-circle p-1"></p>
                  <p class="mx-2 fw-bold">+16px</p>
                  <input typeGen="3" nombre="1" class="addGeneratorButton btn btn-primary m-3" type="button" value="Pinceau Fin">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="3" nombre="1"></p>
                  <input typeGen="3" nombre="10" class="addGeneratorButton btn btn-primary m-3" type="button" value="X 10">
                  <p>Coût = </p>&nbsp;
                  <p class="generatorCost" typeGen="3" nombre="10"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="col">
              <input id="resetTableButton" class="btn btn-secondary m-3" type="button" value="Reset Pixel">
            </div>
            <div class="col">
              <input id="saveButton" class="btn btn-secondary m-3" type="button" value="Save">
            </div>
          </div>
          <!-- <div class="col" style="height:400px;">
            <span class="col-12 bg-dark"></span>
          </div> -->
        </div>
    </div>
  </div>